
<a href="/trainers">Check the trainers!</a>
<a href="/trainers/new">Create trainers!</a>
<a href="/pokemons">Check the pokemons!</a>
<a href="/pokemons/new">Create pokemons!</a>
<a href="/owned_pokemon/new">Join Pokemon to Trainer</a>